@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Single+Day&display=swap');

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
	/* Rectangle 15 */
	
}

body {
	height: 100vh;
	background: url('../img/v642-nap-37-fastfood.jpg') no-repeat center;
	background-size: cover;
}

#main {
	float: right;
	margin-right: 90px;
	line-height: nomal;
}

.regemain {
	float: right;
	line-height: 20px;
	margin-top:20px;

	/* font-weight: bold; */
	font-size: 150%;
	font-family: 'ONE-Mobile-POP';
  
}

#login{
	
	margin-right: 25px;
}

#tableTop{

	margin-top: 70px;
	width: auto;
	height: auto;
}

#select1{

	width: 431px;
	height: 220px;
	background: #FFA800;
	border: 7px solid #000000;
}

#select2{

	width: 431px;
	height: 220px;
	background: #593600;
	border: 7px solid #000000;

}

#select3{

	width: 431px;
	height: 220px;
	background: #FFA800;
	border: 7px solid #000000;


}

#mainlogo{

	width: 1373px;
	height: 709px;
	background: url(../img/mainimg1.jpg);
	border: 9px solid #000000;

}

td{

	text-align: center;
	font-size: 30pt;
	font-family: 'ONE-Mobile-POP';
	font-style: ;
	
}

