@charset "UTF-8";

@import	url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Single+Day&display=swap');

@font-face {
	font-family: 'ONE-Mobile-POP';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

body {
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/bg2.jpg');
 	background-size: cover;
	background-position: center; 
	background-attachment: fixed;
}

#mainTopmenu {
	position: absolute;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	width: auto;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'JalnanGothic';
	font-size: 18pt;
	color: #313131;
	background-color: #ffffff;
	border-bottom: 4px solid black;
	z-index: 20;
}

#mainTopmenu>div:last-child>div {
	display: inline-block;
	margin-left: 10px; /* 각 항목 사이의 간격 조정 */
	margin-right: 100px;
}

.logo {
	margin-left: 40px;
	font-size: 20pt;
	color: #ff9100;
}

.menubar {
	/* margin-left: 10px; */
}

.menubar span {
	margin-right: 150px;
}

.menubar span:last-child {
	margin-right: 0;
}

.topMain {
	margin-top:180px; 
	margin-right: auto;
	margin-left: auto;
	display:flex;
	width: 1000px;
	height: 100px;
	background-color: #FFA800;
	border: 3px solid black;
}

.topMain > div{
	float: left;
	margin-top: auto;
	margin-bottom: auto;
}

.topMainTitle{
	display: table;
	height: 80px;
	margin-left: auto;
	margin-right: 20px;
	font-size : 30pt;
	text-align: center;
	font-family: 'JalnanGothic';
}

.topMainTitle > span{
	display: table-cell;
	vertical-align: middle;
	margin:0 auto;
}

.selectMain {
	width : 500px;
	height : 80px;
	font-size : 30pt;
	text-align: center;	
	font-family: 'JalnanGothic';
	border: 3px solid black;
}

.topMainSearch{
	margin-left: 5px;
	margin-right: auto;
}

.topMainSearch > button{
	font-family: 'JalnanGothic';
	width: 150px;
	height : 80px;
	font-size : 30pt;
	border: 3px solid black;
}

 .themeList{
	margin-top: 80px;
} 

.themeList > table{
	width: auto;
	height: 180px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'JalnanGothic';
	font-size: 30pt;
	background-color: #FFA800;
}

.themeList table tr:nth-child(1) td:nth-child(1){
	background-color: white;
}

.themeList table tr:nth-child(1) td:nth-child(2){
	width: 900px;
	background-color: white;
}

.themeList table tr:nth-child(2){
	font-size: 20pt;
}

.themeList table tr:nth-child(2) td:nth-child(1),td:nth-child(3){
	background-color: #FFA800;
}

.themeList table tr:nth-child(2) td:nth-child(2){
	background-color: #90df37;
}

.order{
	width: 180px;
	background-color: #FFA800;
}

.hamImg{
	width: 200px;
}

.themeList > table:first-child{
	margin-top: 20px;
}

.themeList > th,td{
	border: 3px solid black;
}